body {
    background-color: #e8eff5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 5vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: auto; /* Centraliza o container na tela */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo no eixo cross-axis */
}

#calendario-container,
#info-container {
    border-radius: 8px;
    width: 352px; /* Largura fixa para ambos os contêineres */
    margin-bottom: 50px; /* Espaçamento entre os contêineres */
}

.calendar-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

button {
    padding: 10px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
}

button:hover {
    background-color: #ff6347;
    color: white;
}

#calendario {
    border-collapse: collapse;
    width: 100%;
}

#calendario td {
    border: 2px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#calendario td:hover {
    background-color: #d1eaff;
}

#calendario td.comEvento {
    background-color: #1e90ff;
    color: white;
}

#calendario td.hoje {
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
}

#calendario td.feriado {
    background-color: #ff6347; /* Cor de destaque para os feriados */
}

#calendario td.feriado:hover {
    background-color: #ffcccc; /* Mantém a cor de fundo dos feriados ao passar o mouse */
}

#info {
    color: #1e90ff;
    font-weight: bold;
    text-align: center;
    line-height: 2.6;
}

#listaTarefas {
    list-style: none; /* Remove marcadores de lista */
    padding: 18px;
    margin: 0px;
}

#listaTarefas li {
    border-bottom: 1px solid #e0e0e0; /* Adiciona uma linha entre as tarefas */
    padding: 10px;
    cursor: pointer;
}

#listaTarefas li button {
    margin-left: 10px;
    padding: 5px 10px;
}

#listaTarefas li button:hover {
    background-color: #ff6347;
    color: white;
}

#calendario tr:not(:first-child) td:first-child {
    color: red;
}

@media (max-width: 768px) {
    .container {
        position: static;
        width: 95%;
        height: auto;
        margin-top: 10px;
        padding-top: 0;
    }

    #calendario-container,
    #info-container {
        width: 95%; /* Ocupa a maior parte da tela em dispositivos móveis */
        margin-bottom: 10px; /* Reduz o espaçamento entre os contêineres */
    }

    .calendar-header {
        flex-direction: column;
        align-items: stretch;
    }

    .calendar-header button {
        width: 100%;
        margin-bottom: 5px;
    }
    /* As regras para .feriado estão acima e aplicam-se a todas as resoluções de tela */
}

